{{ define "page/device" }}
{{- template "layout/head" . }}

{{ template "partial/device-panel" . }}

{{- with .Device }}
<section>
    <p class="eyebrow">Addresses</p>
    <div class="scroller">
        <table>
            <thead>
            <tr>
                <th scope="col">Address</th>
                <th scope="col">Held</th>
                <th scope="col">First seen</th>
                <th scope="col">Last seen</th>
            </tr>
            </thead>
            <tbody>
            {{- range .Addresses }}
            <tr class="{{ decay .LastSeen }}">
                <td class="name">{{ .IP }}</td>
                <td class="dim">{{ if .Current }}now{{ else }}released{{ end }}</td>
                <td class="dim">{{ ago .FirstSeen }}</td>
                <td class="dim">{{ ago .LastSeen }}</td>
            </tr>
            {{- end }}
            </tbody>
        </table>
    </div>
</section>
{{- end }}

<section>
    <p class="eyebrow">History</p>
    <div id="device-history">
        {{- template "partial/activity" .Events }}
    </div>
</section>

{{- template "layout/foot" . }}
{{ end }}
