{{ define "page/devices" }}
{{- template "layout/head" . }}

<section class="block">
    <div class="block__head">
        <h2 class="section">Inventory</h2>
    </div>

    {{ template "partial/device-filters" . }}
    {{ template "partial/device-rows" . }}
</section>

{{- template "layout/foot" . }}
{{ end }}
