{{ define "page/events" }}
{{- template "layout/head" . }}

<section>
    <p class="eyebrow">Change log</p>
    {{ template "partial/activity" .Events }}
    {{ template "partial/pager" . }}
</section>

{{- template "layout/foot" . }}
{{ end }}
