{{ define "page/notfound" }}
{{- template "layout/head" . }}

<section class="block">
    <div class="card empty">
        <p>This page does not exist.</p>
        <p><a href="/">Back to the overview</a></p>
    </div>
</section>

{{- template "layout/foot" . }}
{{ end }}
